<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Manager Page 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="managerApp" ng-controller="ManagerController as manager">
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3" ng-class="{'bg-danger': manager.stats.waitCount > 0}">
                <div class="card-header">В ожидании {{manager.stats.waitCount}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Завершено {{manager.stats.progressCount}}</div>
            </div>
        </div>
    </div>
    <h1 class="text-center">Manager 4</h1>

    <button class="btn btn-large btn-primary" ng-click="manager.inviteNextTicket()">Invite Next Ticket</button>

    <h2 class="mt-4">Served Tickets</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Start Served Timestamp</th>
            <th scope="col">Elapsed Time</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ticket in manager.servedTickets | orderBy:'startServedTimestamp'">
            <th scope="row">{{ticket.number}}</th>
            <td>{{ticket.startServedTimestamp | date:'HH:mm'}}</td>
            <td><btn class="btn w-50 text-dark" ng-class="{'btn-outline-warning': (manager.currentTime - ticket.startServedTimestamp) > 600000,'btn-outline-danger': (manager.currentTime - ticket.startServedTimestamp) > 1200000}">
                {{(manager.currentTime - ticket.startServedTimestamp) / 60000 | number:0}}m</btn></td>
            <td>{{ticket.type}}</td>
            <td>{{ticket.status}}</td>
            <td>
                <button class="btn btn-info" ng-click="manager.toProgressTicket(ticket.id)">PROGRESS</button>
                <button class="btn btn-danger" ng-click="manager.toCancelTicket(ticket.id)">CANCEL</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    angular.module('managerApp', [])
        .controller('ManagerController', ['$http', '$interval', function($http, $interval) {
            var self = this;
            self.servedTickets = [];
            self.stats = {};
            self.type = 'BASIC';

            // Fetch served tickets
            $http.get('/api/display/tickets/served/table/' + 4)
                .then(function(response) {
                    self.servedTickets = response.data;
                });

            $http.get('/api/display/tickets/statistics')
                .then(function (response) {
                    self.stats = response.data;
                });

            // Set the current time
            self.currentTime = new Date();

            // Update the time every second
            $interval(function () {
                self.currentTime = new Date();

                $http.get('/api/display/tickets/statistics')
                    .then(function (response) {
                        self.stats = response.data;
                    });
            }, 60000);

            self.inviteNextTicket = function() {
                $http.post('/api/manager/invite/' + self.type + '/' + 4)
                    .then(function(response) {
                        console.log("Invited next ticket");
                        // Reload served tickets
                        $http.get('/api/display/tickets/served/table/' + 4)
                            .then(function(response) {
                                self.servedTickets = response.data;
                            });
                    });
            };

            self.toProgressTicket = function(id) {
                $http.put('/api/manager/' + id + '/toProgress')
                    .then(function(response) {
                        console.log("Moved ticket to progress");
                        // Reload served tickets
                        $http.get('/api/display/tickets/served/table/' + 4)
                            .then(function(response) {
                                self.servedTickets = response.data;
                            });
                    });
            };

            self.toCancelTicket = function(id) {
                $http.put('/api/manager/' + id + '/toCancel')
                    .then(function(response) {
                        console.log("Cancelled ticket");
                        // Reload served tickets
                        $http.get('/api/display/tickets/served/table/' + 4)
                            .then(function(response) {
                                self.servedTickets = response.data;
                            });
                    });
            };
        }]);
</script>
</body>
</html>
