<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Ticket Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>

    <style>
        .big-font {
            font-size: 2em;
        }
        .container {
            margin-top: 20px;
        }
        .info-block {
            margin-bottom: 20px;
        }
    </style>
</head>
<body ng-app="ticketApp" ng-controller="TicketInfoController as ticketInfoCtrl">
<div class="container">
    <h1 class="text-center">Ticket Information</h1>
    <br/>
    <br/>
    <div class="info-block text-center">
        <h2 class="big-font">Имя: {{ ticketInfoCtrl.firstname }}</h2>
    </div>
    <div class="info-block text-center">
        <h2 class="big-font">Фамилия: {{ ticketInfoCtrl.lastname }}</h2>
    </div>
    <div class="info-block text-center">
        <h2 class="big-font" ng-if="ticketInfoCtrl.ticketNumber !== null">Номер билета: {{ ticketInfoCtrl.ticketNumber }}</h2>
        <h2 class="big-font" ng-if="ticketInfoCtrl.ticketNumber === null">Билет не найден</h2>
    </div>
</div>

<script>
    var app = angular.module('ticketApp', ['ngRoute']);

    app.controller('TicketInfoController', function($http, $window) {
        var self = this;
        self.firstname = $window.localStorage.getItem('userFirstname');
        self.lastname = $window.localStorage.getItem('userLastname');
        self.ticketNumber = null;

        var userId = $window.localStorage.getItem('userId');
        console.log('User ID:', userId); // Логирование

        if (userId) {
            // Получаем пользователя по userId
            $http.get('/api/user/find/id', { params: { id: userId } })
                .then(function(response) {
                    var user = response.data;
                    console.log('User:', user); // Логирование
                    var ticketId = user.ticketId;

                    if (ticketId) {
                        // Получаем номер билета по ticketId
                        $http.get('/api/tickets/find-by-id', { params: { id: ticketId } })
                            .then(function(response) {
                                console.log('Ticket:', response.data); // Логирование
                                self.ticketNumber = response.data.number;
                            })
                            .catch(function(error) {
                                console.error('Error getting ticket:', error); // Логирование ошибок
                                self.ticketNumber = null;
                            });
                    } else {
                        console.error('No ticket ID found for user');
                    }
                })
                .catch(function(error) {
                    console.error('Error getting user:', error); // Логирование ошибок
                });
        } else {
            console.error('No user ID found in localStorage');
        }
    });
</script>
</body>
</html>
